/* Custom CSS for layouts */

.container-fluid{
	padding-top: 0 !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
}
.row{/*Bootstrap has a default margin right and left of -15px which causes overflow, this is to remove the margins*/
	margin-left: 0 !important; 
	margin-right: 0 !important;
}
.col-no-padding-xs,.col-no-padding,.no-padding-xs{
	padding-left: 2px !important;
	padding-right: 2px !important;
}
/* Scrollbars */
div::-webkit-scrollbar
{
    width: 5px;
}
div::-webkit-scrollbar-track
 {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 3px;
}
div::-webkit-scrollbar-thumb
 {
    background: grey; 
    border-radius: 3px;
}


.app .content,
.app-center .content,
.app-lhs .lhs-content,
.app-lhs .content,
.app-lhs-fixed .lhs-content,
.app-lhs-fixed .content,
.app-rhs .content,
.app-rhs .lhs-content,
.app-rhs-fixed .content,
.app-rhs-fixed .rhs-content,
.app-lhs-rhs .lhs-content,
.app-lhs-rhs .content,
.app-lhs-rhs .rhs-content,
.app-lhs-fixed-rhs-fixed .lhs-content,
.app-lhs-fixed-rhs-fixed .content,
.app-lhs-fixed-rhs-fixed .rhs-content,
.app-dashboard .lhs-content,
.app-dashboard .content,
.app-50-50-lhs-fixed .lhs-content,
.app-50-50-lhs-fixed .rhs-content,
.app-50-50-rhs-fixed .lhs-content,
.app-50-50-rhs-fixed .rhs-content

{
	padding-top: 60px;
}


.lhs-fixed,.rhs-fixed{
	z-index: 1;
}
/*for dasboard, menu icons only are fixed by the side in mobile but menu texts are hidden*/

.app-dashboard .lhs-fixed:hover{
	overflow-y: auto;
}
.app-dashboard .lhs-fixed{
	width:16.67%;
	right: 83.33%;
	background-color: #000;
}

.app-dashboard .lhs-fixed .lhs-menu-icon{
	font-size: 30px;
}
.app-dashboard .lhs-fixed .lhs-menu-text{
	display: none;
}

.app-dashboard .lhs-content{
	background-color: #636b6f;
	height: 100%;
}
.app-dashboard .lhs-menu-list{
	padding: 0
}
.app-dashboard .lhs-menu-list li{
	list-style-type: none;
}
.app-dashboard .lhs-menu-list a{
	display: block;
	color: #fff;
	padding: 10px 2px;
	text-align: center;
}
.app-dashboard .lhs-menu-list a:hover{
	text-decoration: none;
	font-size: 105%;
	background-color: #f7f7f7;
	color: #636b6f;
	}

.app-dashboard .lhs-fixed{
		position:fixed;
		height:100vh;
		left: 0;
		overflow-y:hidden;
}

/**************************************************************************************/

/* xs screens or lesser */
@media(max-width: 576px){
	.app-lhs .content,
	.app-lhs-fixed .content,
	.app-rhs .rhs-content,
	.app-rhs-fixed .rhs-content,
	.app-lhs-rhs .content,
	.app-lhs-rhs .rhs-content,
	.app-lhs-fixed-rhs-fixed .content,
	.app-lhs-fixed-rhs-fixed .rhs-content,
	.app-50-50-lhs-fixed .rhs-content,
	.app-50-50-rhs-fixed .rhs-content
	{
		padding-top: 0px;
	}
}

/* sm screen and above*/
@media (min-width: 576px){
	.app-lhs-fixed-rhs-fixed .rhs-content,
	.app-50-50-lhs-fixed .rhs-content,
	.app-50-50-rhs-fixed .rhs-content
	{
		padding-top: 10px;
	}

	.lhs-fixed,
	.lhs-fixed-head,
	.content-fixed-head,
	.app-rhs-fixed .rhs-fixed,
	.app-rhs-fixed .rhs-fixed-head,
	.app-lhs-fixed-rhs-fixed .lhs-fixed,
	.app-lhs-fixed-rhs-fixed .lhs-fixed-head
	{
		position:fixed;
		z-index: 10;
	}

	.lhs-fixed,
	.app-rhs-fixed .rhs-fixed
	{
		max-height: 100vh;
		overflow:hidden;

	}
	.lhs-fixed:hover,
	.app-rhs-fixed .rhs-fixed:hover{
		overflow:auto;
	}

	.lhs-fixed,
	.lhs-fixed-head
	{
		width:25%;
		right: 75%;

	}

	.app-rhs-fixed .rhs-fixed,
	.app-rhs-fixed .rhs-fixed-head
	{
		width:25%;
		left: 75%;
	}

	.app-rhs-fixed .content-fixed-head
	{
		width: 75%;
		right: 25%;
	}

	.app-lhs-fixed .content-fixed-head,
	.app-lhs-fixed-rhs-fixed .content-fixed-head
	{
		width: 75%;
		left: 25%;
	}


	.app-lhs-fixed-rhs-fixed .rhs-fixed,
	.app-lhs-fixed-rhs-fixed .rhs-fixed-head
	{
		width:75%;
		margin-left: 25%;
	}


	.lhs-fixed .lhs-body,
	.content .content-body,
	.rhs-fixed .rhs-body
	{
		padding-top: 60px;
	}

	.container-fluid,
	.no-padding-xs,
	.col-no-padding-xs
	{/*Return the padding in sm screen and above*/
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

}

/* md screen and above*/

@media (min-width: 768px){
	.app-lhs-fixed-rhs-fixed .rhs-content,
	.app-50-50-lhs-fixed .rhs-content,
	.app-50-50-rhs-fixed .rhs-content
	{
		padding-top: 60px; /* return thetop padding */
	}

	.app-lhs-fixed-rhs-fixed .rhs-fixed,
	.app-lhs-fixed-rhs-fixed .rhs-fixed-head,
	.app-lhs-fixed-rhs-fixed .content-fixed-head,
	.app-50-50-lhs-fixed .lhs-fixed,
	.app-50-50-rhs-fixed .rhs-fixed
	{
		position:fixed;
		z-index: 10;
	}
	.app-lhs-fixed-rhs-fixed .rhs-fixed,
	.app-50-50-lhs-fixed .lhs-fixed,
	.app-50-50-rhs-fixed .rhs-fixed
	{
		max-height: 100vh;
		overflow:hidden;
	}
	.app-lhs-fixed-rhs-fixed .rhs-fixed:hover,
	.app-50-50-lhs-fixed .lhs-fixed:hover,
	.app-50-50-rhs-fixed .rhs-fixed:hover
	{
		overflow: auto
	}
	.app-lhs-fixed-rhs-fixed .lhs-fixed,
	.app-lhs-fixed-rhs-fixed .lhs-fixed-head
	{
		width: 25%;
		right: 75%;
	}
	.app-lhs-fixed-rhs-fixed .rhs-fixed,
	.app-lhs-fixed-rhs-fixed .rhs-fixed-head
	{
		width:25%;
		left: 75%;
		margin-left: 0;
	}

	.app-lhs-fixed-rhs-fixed .content-fixed-head{
		width: 50%;
		left: 25%;
		right: 25%;
	}

	.app-50-50-lhs-fixed .lhs-fixed{
		width: 50%;
		right: 50%;
	}

	.app-50-50-rhs-fixed .rhs-fixed{
		width: 50%;
		left: 50%;
	}

}