

.tt-menu{
    background-color: #fff;
    color: #343a40;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    width: 400px;
    border-radius: 3px;
    box-shadow: 0px 50px 50px rgba(0, 0, 0, .5);
    max-height: 70vh;
    overflow: auto;
}
.tt-dataset-products-list{
  
}
.search-result-container{

}
.search-result{
border-bottom: 1px solid #f7f7f7;
padding: 10px 0px;
}
.search-result:nth-child(even){
    background-color: #fff;
}
.search-result:nth-child(odd){
    background-color: #f7f7f7;
}

.product-name{
    margin-bottom: 2px;
}
@media (min-width: 576px){

}
@media (min-width: 768px){

}